<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.vXWE9qf4.css"><div id="universities" class="pb-8 md:py-16 glide mt-8 px-0 sm:px-0 md:mt-0">
  
  <div class="px-4 sm:px-16">
    <div class="mx-auto flex w-full max-w-content items-center gap-8">
      <h3 class="text-[1.25rem] font-semibold leading-[1.75rem] md:text-[1.5rem] md:font-bold md:leading-[2.25rem]">
   Competition organized by leading Russian universities 
</h3>
    </div>
  </div>

  <div class="glide__bullets mt-4 flex gap-4 px-4 md:hidden" data-glide-el="controls[nav]">
  <button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=0"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=1"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=2"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=3"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=4"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=5"></button>
</div>

  <div class="glide__track mt-4 overflow-clip md:hidden" data-glide-el="track">
    <ul class="glide__slides flex">
      <li class="grid grid-cols-2 gap-2 px-2">
              <a href="#!" title="HSE University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    HSE University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="National Research Tomsk State University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    National Research Tomsk State University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="ITMO University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    ITMO University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Moscow Institute of Physics and Technology (National Research University)" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Moscow Institute of Physics and Technology (National Research University)
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
            </li><li class="grid grid-cols-2 gap-2 px-2">
              <a href="#!" title="Saint Petersburg Electrotechnical University “LETI”" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Saint Petersburg Electrotechnical University “LETI”
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="FSAEI HE I.M. Sechenov First MSMU MOH Russia (Sechenovskiy University)" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    FSAEI HE I.M. Sechenov First MSMU MOH Russia (Sechenovskiy University)
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Peter the Great St Petersburg Polytechnic University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Peter the Great St Petersburg Polytechnic University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Tomsk Polytechnic University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Tomsk Polytechnic University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
            </li><li class="grid grid-cols-2 gap-2 px-2">
              <a href="#!" title="Peoples’ Friendship University of Russia named after Patrice Lumumba" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Peoples’ Friendship University of Russia named after Patrice Lumumba
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="University of Tyumen" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    University of Tyumen
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Far Eastern Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Far Eastern Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Kazan (Volga region) Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Kazan (Volga region) Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
            </li><li class="grid grid-cols-2 gap-2 px-2">
              <a href="#!" title="Lobachevsky State University of Nizhni Novgorod (UNN)" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Lobachevsky State University of Nizhni Novgorod (UNN)
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Samara University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Samara University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Siberian Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Siberian Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="MGIMO University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    MGIMO University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
            </li><li class="grid grid-cols-2 gap-2 px-2">
              <a href="#!" title="Novosibirsk State University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Novosibirsk State University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="MEPhI" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    MEPhI
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="University of Science and Technology MISIS" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    University of Science and Technology MISIS
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Ural Federal University named afterthe first President of Russia B.N.Yeltsin" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Ural Federal University named afterthe first President of Russia B.N.Yeltsin
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
            </li><li class="grid grid-cols-2 gap-2 px-2">
              <a href="#!" title="Moscow State University of Civil Engineering" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Moscow State University of Civil Engineering
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Federal State Budgetary Educational Institution of Higher Education «Bauman Moscow State Technical University»" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Federal State Budgetary Educational Institution of Higher Education «Bauman Moscow State Technical University»
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Moscow Polytechnic University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Moscow Polytechnic University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a><a href="#!" title="Southern Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Southern Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
            </li>
    </ul>
  </div>

  <div class="mx-auto mt-[2.125rem] hidden w-full max-w-content md:block">
    <ul class="grid grid-cols-[repeat(auto-fit,_minmax(8.75rem,_auto))] gap-2 md:grid-cols-[repeat(auto-fit,_minmax(17.625rem,_auto))]">
      <li>
            <a href="#!" title="HSE University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    HSE University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="National Research Tomsk State University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    National Research Tomsk State University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="ITMO University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    ITMO University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Moscow Institute of Physics and Technology (National Research University)" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Moscow Institute of Physics and Technology (National Research University)
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Saint Petersburg Electrotechnical University “LETI”" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Saint Petersburg Electrotechnical University “LETI”
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="FSAEI HE I.M. Sechenov First MSMU MOH Russia (Sechenovskiy University)" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    FSAEI HE I.M. Sechenov First MSMU MOH Russia (Sechenovskiy University)
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Peter the Great St Petersburg Polytechnic University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Peter the Great St Petersburg Polytechnic University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Tomsk Polytechnic University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Tomsk Polytechnic University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Peoples’ Friendship University of Russia named after Patrice Lumumba" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Peoples’ Friendship University of Russia named after Patrice Lumumba
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="University of Tyumen" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    University of Tyumen
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Far Eastern Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Far Eastern Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Kazan (Volga region) Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Kazan (Volga region) Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Lobachevsky State University of Nizhni Novgorod (UNN)" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Lobachevsky State University of Nizhni Novgorod (UNN)
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Samara University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Samara University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Siberian Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Siberian Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="MGIMO University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    MGIMO University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Novosibirsk State University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Novosibirsk State University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="MEPhI" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    MEPhI
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="University of Science and Technology MISIS" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    University of Science and Technology MISIS
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Ural Federal University named afterthe first President of Russia B.N.Yeltsin" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Ural Federal University named afterthe first President of Russia B.N.Yeltsin
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Moscow State University of Civil Engineering" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Moscow State University of Civil Engineering
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Federal State Budgetary Educational Institution of Higher Education «Bauman Moscow State Technical University»" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Federal State Budgetary Educational Institution of Higher Education «Bauman Moscow State Technical University»
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Moscow Polytechnic University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Moscow Polytechnic University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li><li>
            <a href="#!" title="Southern Federal University" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    Southern Federal University
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;/preview/_astro/_university.B0Nhiimc.png&#34;)">
  </div>
</a>
          </li>
    </ul>
  </div>

</div>