<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.Df6_OqPe.css"><a href="#!" class="group flex min-h-[9.75rem] w-full flex-col gap-4 rounded-[1rem] bg-white p-4 transition-colors hover:bg-opacity-95 md:min-h-[19.5rem] md:p-8 md:px-[2.25rem]">
  <div class="text-balance text-[0.5rem] font-medium leading-3 text-mid-gray transition-colors group-hover:text-blue md:text-[0.875rem] md:leading-6">
    
  </div>

  <div class="flex grow bg-[image:var(--background)] bg-contain bg-center bg-no-repeat transition-all group-hover:opacity-100 group-hover:grayscale-0 md:opacity-80 md:grayscale" style="--background:url(&#34;undefined&#34;)">
  </div>
</a>