<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.CfagarLh.css"><li class="glide__slide group w-[30.625rem] shrink-0 select-none px-4 md:px-0">
  <div class="flex flex-col gap-3">
    <div class="pr-4 font-medium leading-7 text-blue">
      January 9th - 18th, 2024
    </div>

    <div class="relative h-[0.625rem] before:absolute before:left-0 before:top-0 before:h-[0.625rem] before:w-[0.625rem] before:rounded-full before:bg-blue after:absolute after:left-0 after:top-1/2 after:w-[calc(100vw_+_0.5rem)] after:border-b after:border-blue md:after:w-full">
    </div>
  </div>

  <div class="mt-[1.125rem] flex flex-col gap-8 pr-6">
    <h4 class="text-[1.125rem] font-bold leading-[1.625rem]">
      The second stage
    </h4>

    <div class="text-[0.875rem] font-medium leading-6">
      <p>
        Winners of the portfolio competition are welcome to participate in the
        second round in the selected Subject.
      </p>
    </div>

    <button data-set="true" class="text-left text-[0.75rem] font-semibold uppercase text-pink transition-colors hover:text-black group-data-[active='true']:hidden">
      Open detailed schedule
    </button>

    <button data-set="false" class="hidden text-left text-[0.75rem] font-semibold uppercase text-gray transition-colors hover:text-black group-data-[active='true']:inline-block">
      Close detailed schedule
    </button>
  </div>

  <div class="text text-[0.875rem] font-medium leading-6 transition-all [&_ol]:my-2 [&_ol]:list-inside [&_ol]:list-decimal [&_p]:my-2 [&_ul]:my-2 [&_ul]:list-inside [&_ul]:list-disc" style="height:0;opacity:0">
    <div class="pt-6">
      <ul>
        <li>Engineering & Technology - January 9th, 2024</li>
        <li>Computer & Data Science - January 9th, 2024</li>
        <li>Business & Management - January 10th, 2024</li>
        <li>Clinical Medicine & Public Health - January 10th, 2024</li>
        <li>Education & Psychology - January 11th, 2024</li>
        <li>Politics & International Studies - January 11th, 2024</li>
        <li>Biology & Biotechnology - January 12th, 2024</li>
        <li>Economics & Econometrics - January 12th, 2024</li>
        <li>Linguistics & Modern Languages - January 15th, 2024</li>
        <li>Urbanism & Civil Engineering - January 15th, 2024</li>
        <li>Chemistry & Materials Science - January 15th, 2024</li>
        <li>
          Earth & Environmental Sciences for Sustainability - January 17th, 2024
        </li>
        <li>
          Applied Mathematics & Artificial Intelligence - January 17th, 2024
        </li>
        <li>Physical sciences & Technology - January 17th, 2024</li>
      </ul>
    </div>
  </div>
</li>