<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.DwVySF8A.css"><div class="px-4 pb-8 md:py-16 bg-white bg-opacity-60 pt-8 md:pt-16">
  
  <div class="mx-auto w-full max-w-content">
    <h3 class="text-[1.25rem] font-semibold leading-[1.75rem] md:text-[1.5rem] md:font-bold md:leading-[2.25rem]">
  Partners
</h3>

    

    <div class="mt-6 md:mt-[2.125rem]">
      
  <ul class="grid gap-6 sm:grid-cols-3">
    <li>
          <a href="#!" title="" class="block aspect-video rounded-[0.875rem] bg-[image:var(--background)] bg-cover bg-center transition-all md:grayscale md:hover:grayscale-0" style="--background:url(&#34;/preview/_astro/_partner.H1Wo97hH.png&#34;)"></a>
        </li><li>
          <a href="#!" title="" class="block aspect-video rounded-[0.875rem] bg-[image:var(--background)] bg-cover bg-center transition-all md:grayscale md:hover:grayscale-0" style="--background:url(&#34;/preview/_astro/_partner.H1Wo97hH.png&#34;)"></a>
        </li><li>
          <a href="#!" title="" class="block aspect-video rounded-[0.875rem] bg-[image:var(--background)] bg-cover bg-center transition-all md:grayscale md:hover:grayscale-0" style="--background:url(&#34;/preview/_astro/_partner.H1Wo97hH.png&#34;)"></a>
        </li>
  </ul>

    </div>
  </div>

</div>