<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.Df6_OqPe.css"><div id="news" class="pb-8 md:py-16 glide px-0 sm:px-0" data-gap="24">
  
  <div class="px-4 sm:px-16">
    <div class="mx-auto flex w-full max-w-content items-center gap-8">
      <h3 class="text-[1.25rem] font-semibold leading-[1.75rem] md:text-[1.5rem] md:font-bold md:leading-[2.25rem]">
  Recorded live streams of past webinars
</h3>

      <div class="ml-auto flex items-center gap-2 fill-black md:ml-0" data-glide-el="controls">
  <button class="glide__arrow glide__arrow--left flex h-6 w-6 rotate-180 items-center justify-center transition-colors hover:fill-blue" data-glide-dir="<">
    <svg width="17" height="12" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5303 6.36822C16.8232 6.07533 16.8232 5.60045 16.5303 5.30756L11.7574 0.53459C11.4645 0.241696 10.9896 0.241696 10.6967 0.53459C10.4038 0.827483 10.4038 1.30236 10.6967 1.59525L14.9393 5.83789L10.6967 10.0805C10.4038 10.3734 10.4038 10.8483 10.6967 11.1412C10.9896 11.4341 11.4645 11.4341 11.7574 11.1412L16.5303 6.36822ZM0 6.58789H16V5.08789H0V6.58789Z"></path>
    </svg>
  </button>

  <button class="glide__arrow glide__arrow--right flex h-6 w-6 items-center justify-center transition-all hover:fill-blue" data-glide-dir=">">
    <svg width="17" height="12" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5303 6.36822C16.8232 6.07533 16.8232 5.60045 16.5303 5.30756L11.7574 0.53459C11.4645 0.241696 10.9896 0.241696 10.6967 0.53459C10.4038 0.827483 10.4038 1.30236 10.6967 1.59525L14.9393 5.83789L10.6967 10.0805C10.4038 10.3734 10.4038 10.8483 10.6967 11.1412C10.9896 11.4341 11.4645 11.4341 11.7574 11.1412L16.5303 6.36822ZM0 6.58789H16V5.08789H0V6.58789Z"></path>
    </svg>
  </button>
</div>
    </div>
  </div>

  <div class="glide__bullets mt-4 flex gap-4 px-4 md:hidden" data-glide-el="controls[nav]">
  <button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=0"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=1"></button><button class="glide__bullet h-[0.125rem] grow basis-0 rounded-full bg-[#D8D8D8]" data-glide-dir="=2"></button>
</div>

  <div class="glide__track mt-6 overflow-clip md:mt-[2.125rem]" data-glide-el="track">
    <ul class="glide__slides flex md:pl-[calc((100vw_-_81.5rem)_/_2)]">
      <li class="glide__slide w-[calc(100vw_-_2rem)] shrink-0 select-none px-4 md:w-[33rem] md:px-0">
  <div class="flex flex-col gap-4 rounded-[1rem] bg-white p-6 md:gap-6 md:p-8">
    <div class="overflow-clip rounded-[0.5rem]"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCZgorn7TvY?si=dPfN2FiWZjcFA4CF&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

    <div class="text-[1.125rem] font-bold leading-[1.625rem]">Webinar with the representatives of LETI and ITMO universities</div>
  </div>
</li><li class="glide__slide w-[calc(100vw_-_2rem)] shrink-0 select-none px-4 md:w-[33rem] md:px-0">
  <div class="flex flex-col gap-4 rounded-[1rem] bg-white p-6 md:gap-6 md:p-8">
    <div class="overflow-clip rounded-[0.5rem]"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCZgorn7TvY?si=dPfN2FiWZjcFA4CF&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

    <div class="text-[1.125rem] font-bold leading-[1.625rem]">Webinar with the representatives of LETI and ITMO universities</div>
  </div>
</li><li class="glide__slide w-[calc(100vw_-_2rem)] shrink-0 select-none px-4 md:w-[33rem] md:px-0">
  <div class="flex flex-col gap-4 rounded-[1rem] bg-white p-6 md:gap-6 md:p-8">
    <div class="overflow-clip rounded-[0.5rem]"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCZgorn7TvY?si=dPfN2FiWZjcFA4CF&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

    <div class="text-[1.125rem] font-bold leading-[1.625rem]">Webinar with the representatives of LETI and ITMO universities</div>
  </div>
</li>
    </ul>
  </div>

</div>