<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.V2sLxhZI.css"><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    
  </ul>
</div>