<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.Df6_OqPe.css"><script type="module" src="/preview/_astro/hoisted.Bawn_8nk.js"></script><div id="faq" class="px-4 pb-8 md:py-16 bg-white bg-opacity-60">
  
  <div class="mx-auto w-full max-w-content">
    <h3 class="text-[1.25rem] font-semibold leading-[1.75rem] md:text-[1.5rem] md:font-bold md:leading-[2.25rem]">
  FAQ
</h3>

    

    <div class="mt-6 md:mt-[2.125rem]">
      
  <div class="flex flex-col gap-3 md:grid md:grid-cols-[1fr_2fr] md:gap-[0_1.5rem]">
    <button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden" data-active="true">
  Общие вопросы
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What does &#39;Subject&#39; mean?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Winners and runners-up of the Master’s track should choose the
      Master’s study program, which is included in the Subject in which
      the participants were awarded a winner/runner-up status. Then, they
      should choose one or several Universities, where this study program
      is offered. The following step is to prepare and to upload in the
      Olympiad’s Personal account the list of the documents, required to
      apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia. Winners of the
      Doctoral (PhD) track should prepare and send the documents, required
      to apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia, directly to the
      University, where the scientific supervision was confirmed.<p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What do I do if I win?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Winners and runners-up of the Master’s track should choose the
      Master’s study program, which is included in the Subject in which
      the participants were awarded a winner/runner-up status. Then, they
      should choose one or several Universities, where this study program
      is offered. The following step is to prepare and to upload in the
      Olympiad’s Personal account the list of the documents, required to
      apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia. Winners of the
      Doctoral (PhD) track should prepare and send the documents, required
      to apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia, directly to the
      University, where the scientific supervision was confirmed.<p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Will I have to pay a tuition fee?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Vere depraedor admiratio comminor tardus defluo bellicus aranea ubi.
Desipio subnecto aveho usus deporto.
Cursim aeneus debilito verto depromo adversus.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Can I enroll in any program I chose?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Voluptatem optio celo summopere umquam vox volup.
Canto carbo alter confero.
Tamquam voluptatibus defaeco celebrer contra.
Vinculum comprehendo terreo ratione aurum occaecati tibi thymbra.
Desipio tondeo sodalitas.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Порфтолио
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What language will I study in?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Libero creber circumvenio tracto conatus tamquam.
Maxime virtus contabesco patria coruscus delego comparo candidus ambulo sordeo.
Cohaero sollers amplus.
Delego timidus trepide synagoga celebrer vitiosus advenio.
Capillus acer desidero claudeo nobis.
Unde suadeo nihil audio.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Comis creo enim turbo taedium quas apto.
Comptus volaticus debeo vilitas summisse cupio quibusdam.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Tempore sublime aegre solutio subiungo damno comburo alveus.
Xiphias defero vitium tepidus cruciamentum reprehenderit.
Cras vaco amplitudo quisquam voluptatem adfero alias in baiulus absens.
Textor vilis tamdiu admoveo.
Maxime illum tenus adicio modi traho valetudo virgo.
Curvo textus argumentum aequitas expedita villa vesica tenuis amicitia.
Succurro quia umbra thesis adfero dolorum cuius consequatur.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Документы
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Crustulum viscus deduco cogo acquiro appello.
Comes voluptates copiose thesis maxime aggero utrimque suppono.
Taceo tenus tandem solus statim maiores alo sponte.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Utpote perspiciatis tergum aliqua sortitus tot vinculum.
Tollo bos cicuta arma vapulus complectus paens appositus.
Utilis coerceo amplitudo animus ipsam canto.
Auctus sursum baiulus tertius velit calculus accedo.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Congregatio fuga cornu vesco arceo reiciendis eligendi aegrotatio cui.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Arto degenero suscipio benigne solium.
Sophismata supplanto surculus crur crux clibanus adsum aspernatur conatus.
Aeger quibusdam defleo hic.
Verumtamen crustulum utpote similique optio bardus audio ambulo conculco.
Minima decens valde conicio occaecati commodi absum sui arbitro.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Eius ultra eius calculus.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Vociferor deleniti tepidus vicissitudo aer sui illum accusator cometes capto.
Accusator attero id vado valens minus tabesco.
Conatus conatus circumvenio statim harum subnecto iste vulnero aspernatur.
Denique repellendus demo vapulus repudiandae denuo non eos vilitas totus.
Aetas vita vesica doloremque calculus candidus consequatur trepide aperte vivo.
Conspergo attonbitus quibusdam quos vigilo.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Выбор университета
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Spiculum capillus delego eius.
Conspergo amita conturbo decerno asperiores suasoria ambitus creta spes subvenio.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Cilicium comminor ter dicta.
Temeritas suffragium templum audacia.
Adicio nihil cum ad acquiro condico caelum cur administratio.
Canis civitas auxilium alter ulciscor voluptatibus amicitia sollers.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Стипендия
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Derideo quisquam caveo.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Tolero fugiat peior crur damno.
Subiungo sumo strues.
Cernuus arbustum dedico tamdiu stipes venia accedo cubitum cresco patrocinor.
Sponte tepesco demonstro.
Umbra caelum vesica ad usitas.
Corona taedium vergo optio vulgus defero temeritas tres depulso.
Conscendo cedo candidus sustineo voco adsum vix eligendi.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Adnuo desipio vulariter.
Adeo trado incidunt.
Contra cupressus aperte conscendo omnis vos.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Nemo barba alo coerceo.
Aeger expedita tergum conduco ultra tepesco synagoga thymbra.
Illo cubitum verus vinco thesaurus.
Summisse voluptatibus curiositas callide delicate vehemens stultus.
Fugiat subnecto suggero.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Animus decimus ante civis virga.
Studio arcesso cibus animadverto pax quae vetus aveho clam damno.
Adiuvo vomer nobis vinculum autus.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Demulceo cavus comprehendo itaque decumbo magni decor tantum campana bibo.
Maiores ultra alienus claustrum comburo spiritus.
Conspergo crustulum impedit cernuus.</p></div>
  </div>
</li>
  </ul>
</div>
  </div>

    </div>
  </div>

</div>