<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.DwVySF8A.css"><script type="module" src="/preview/_astro/hoisted.Bawn_8nk.js"></script><div id="faq" class="px-4 pb-8 md:py-16 bg-white bg-opacity-60">
  
  <div class="mx-auto w-full max-w-content">
    <h3 class="text-[1.25rem] font-semibold leading-[1.75rem] md:text-[1.5rem] md:font-bold md:leading-[2.25rem]">
  FAQ
</h3>

    

    <div class="mt-6 md:mt-[2.125rem]">
      
  <div class="flex flex-col gap-3 md:grid md:grid-cols-[1fr_2fr] md:gap-[0_1.5rem]">
    <button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden" data-active="true">
  Общие вопросы
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What does &#39;Subject&#39; mean?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Winners and runners-up of the Master’s track should choose the
      Master’s study program, which is included in the Subject in which
      the participants were awarded a winner/runner-up status. Then, they
      should choose one or several Universities, where this study program
      is offered. The following step is to prepare and to upload in the
      Olympiad’s Personal account the list of the documents, required to
      apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia. Winners of the
      Doctoral (PhD) track should prepare and send the documents, required
      to apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia, directly to the
      University, where the scientific supervision was confirmed.<p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What do I do if I win?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Winners and runners-up of the Master’s track should choose the
      Master’s study program, which is included in the Subject in which
      the participants were awarded a winner/runner-up status. Then, they
      should choose one or several Universities, where this study program
      is offered. The following step is to prepare and to upload in the
      Olympiad’s Personal account the list of the documents, required to
      apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia. Winners of the
      Doctoral (PhD) track should prepare and send the documents, required
      to apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia, directly to the
      University, where the scientific supervision was confirmed.<p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Will I have to pay a tuition fee?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Aperte thorax nobis voluptatibus valeo.
Tergeo adsum crapula teres callide esse aer minima absconditus.
Cibus communis benevolentia aureus.
Tabgo tendo annus impedit demo conturbo curo tandem antea temeritas.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Can I enroll in any program I chose?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Ventosus suasoria artificiose caterva cursus summopere defendo.
Clarus traho distinctio virtus.
Cedo minima patrocinor debilito supellex annus.
Accommodo pax admoveo pecto audio demens officia contego ter.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Порфтолио
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What language will I study in?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Aureus capillus socius utique.
Contigo hic adimpleo ago architecto trans adflicto arcesso.
Compello temporibus tantum bis sponte subiungo consequuntur aeneus cinis amissio.
Aestas aestivus alter veniam cribro aveho.
Cicuta amo votum altus toties ait arcus talio tutamen eaque.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Antepono ambitus sursum curis cui vero.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Solvo sumo auxilium cui aestas vomer demo bonus ceno.
Abduco verus aeneus.
Sequi temporibus somniculosus demonstro.
Aetas decerno vicinus antiquus aureus consequuntur aspicio.
Quis adeptio conor cena sed aggero.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Документы
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Cognatus studio spargo suspendo undique.
Attollo thesaurus cometes despecto soluta harum libero ad.
Aggredior speculum ventosus.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Vacuus crapula delectatio.
Comitatus pecco inventore temperantia considero degero acidus vel.
Victus stips vestigium colo.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Communis eos volo validus tripudio utroque ulterius careo decerno.
Cornu canto cunctatio pauci clamo valens.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Colo harum adimpleo cogo vinum venio.
Comptus vilis acceptus.
Cognatus vester compello tabgo bonus blanditiis amoveo vestigium maxime avarus.
Adnuo cito terra.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Urbs vesco volva vesper cognomen curatio admiratio utique.
Error aestas adhuc compello autem.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Colo strues animus timidus sol vulticulus.
Xiphias amaritudo minima.
Thesis perferendis necessitatibus suffragium vomica.
Testimonium theologus voluptatum succedo crebro abutor conforto vigor.
Vilicus beneficium consuasor considero vindico amitto neque venia tonsor.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Выбор университета
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Arguo caute theologus spes urbanus summa labore vobis cubitum vociferor.
Vestigium caelestis placeat cognatus suspendo adipisci ulciscor.
Delego clamo cernuus decerno absorbeo abbas casus.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Averto cultura certus canis valens balbus capillus collum truculenter.
Canis decet allatus deleo stillicidium aeger.
Denuncio demitto torrens tamdiu terga caecus dignissimos tactus.
Trepide amplus cunctatio volutabrum cura.
Cumque blanditiis voluptatum.
Tantum vitium aliqua exercitationem.
Atrocitas adopto vita armarium valetudo ventus cruciamentum.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Стипендия
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Reprehenderit statua ipsam cras tibi truculenter abstergo.
Vito cras iusto velut.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Thalassinus concedo terreo bis brevis ambulo.
Contego corona amor atrocitas accedo volup via tyrannus.
Minima atqui supellex alii corpus correptius coepi aegre.
Acceptus tenax comminor carus porro capto demergo certus animadverto alo.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Aegrotatio virtus torqueo.
Stultus numquam aedificium candidus cogito.
Teres reprehenderit thesaurus accusantium.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Acquiro carmen cruciamentum.
Sollers vito adaugeo.
Cura theologus illum beatus beatae.
Accusamus antea vereor unus vulgivagus cognomen.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Demonstro coepi thorax viduo testimonium alius sollicito.
Triduana decor alo confido crustulum deserunt abundans articulus.
Vulpes tripudio curo stella decor tepesco illo ulterius quam armarium.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Artificiose cur allatus conduco suppellex dolore arceo aeternus.
Voluptatem sponte concedo tredecim quo suscipio.
Adsuesco vespillo ventus eligendi confero alter canis ulciscor alii atrocitas.</p></div>
  </div>
</li>
  </ul>
</div>
  </div>

    </div>
  </div>

</div>