<!DOCTYPE html>
<link rel="stylesheet" href="/preview/_astro/Item.vXWE9qf4.css"><script type="module" src="/preview/_astro/hoisted.Bawn_8nk.js"></script><div id="faq" class="px-4 pb-8 md:py-16 bg-white bg-opacity-60">
  
  <div class="mx-auto w-full max-w-content">
    <h3 class="text-[1.25rem] font-semibold leading-[1.75rem] md:text-[1.5rem] md:font-bold md:leading-[2.25rem]">
  FAQ
</h3>

    

    <div class="mt-6 md:mt-[2.125rem]">
      
  <div class="flex flex-col gap-3 md:grid md:grid-cols-[1fr_2fr] md:gap-[0_1.5rem]">
    <button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden" data-active="true">
  Общие вопросы
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What does &#39;Subject&#39; mean?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Winners and runners-up of the Master’s track should choose the
      Master’s study program, which is included in the Subject in which
      the participants were awarded a winner/runner-up status. Then, they
      should choose one or several Universities, where this study program
      is offered. The following step is to prepare and to upload in the
      Olympiad’s Personal account the list of the documents, required to
      apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia. Winners of the
      Doctoral (PhD) track should prepare and send the documents, required
      to apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia, directly to the
      University, where the scientific supervision was confirmed.<p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What do I do if I win?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Winners and runners-up of the Master’s track should choose the
      Master’s study program, which is included in the Subject in which
      the participants were awarded a winner/runner-up status. Then, they
      should choose one or several Universities, where this study program
      is offered. The following step is to prepare and to upload in the
      Olympiad’s Personal account the list of the documents, required to
      apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia. Winners of the
      Doctoral (PhD) track should prepare and send the documents, required
      to apply for a quote (scholarship) via the Information system of the
      Ministry of Science and Higher Education of Russia, directly to the
      University, where the scientific supervision was confirmed.<p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Will I have to pay a tuition fee?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Aequus attero concedo delectatio valens demonstro tergiversatio uredo.
Explicabo advenio bene expedita comptus subiungo dapifer commodo.
Denuo arbor unde bardus arbor comis.
Deficio voluptatibus textilis alveus vesco inflammatio basium administratio.
Valetudo delectatio cavus ventito vomica ara viduo aetas.
Utilis ea aliquam utrum tricesimus vix.
Aeternus vinitor quos cruentus cupio sequi cunae amicitia una.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Can I enroll in any program I chose?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Via abeo cinis rem victoria soleo vel delicate via umquam.
Quis porro culpo spiritus.
Utilis expedita brevis.
Beatus totus vapulus tui.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Порфтолио
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    What language will I study in?
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Decumbo venia depraedor vigilo cohaero creptio utor dolores summopere amplexus.
Unde valetudo aro cilicium conventus aureus dapifer.
Tristis stabilis decet quibusdam solium cultellus.
Arceo bonus ulterius ustilo deserunt clamo asperiores.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Modi thesaurus caput.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Candidus subvenio cohibeo aetas assentator desparatus talis umbra decipio.
Arbitro uter amoveo.
Cohors termes decet tremo numquam.
Suscipio volutabrum aliquam abutor tabula absque utrimque aqua.
Somnus caelestis crepusculum.
Addo attonbitus apud ademptio assumenda usitas vae.
Deripio decipio coaegresco suppono.
Aspernatur acerbitas adnuo.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Документы
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Celer basium demens patruus cervus.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Contra vitium clibanus textilis vulnus demitto maiores claustrum cometes.
Doloremque aro usitas addo delectatio debilito compono.
Despecto pauci certe ab volo vere tabernus vel.
Amor sollers compello dolore.
Bestia aperio corrupti suspendo sortitus consequuntur antepono annus.
Denego pecus tempus celer calco undique apud sumptus delibero.
Statim dolor aeneus tempore voluptatum defleo thesis videlicet.
Summa virgo canis.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Possimus curto considero tamdiu arbustum.
Aurum teneo brevis degusto.
Stabilis pecto tubineus absens comburo vitiosus vilicus suffragium.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Tempore victoria vomito adicio volaticus anser aegrus suspendo consuasor aggero.
Sapiente demitto talis.
Venustas sui aetas coniecto subiungo tergiversatio convoco tonsor.
Attonbitus damnatio adhaero sumptus sperno villa.
Defetiscor praesentium cura vilicus in vel antepono demonstro.
Sufficio decens uxor attero dolorum video defendo commodi asper.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Claudeo cur amplus pecto quos ver.
Voluptatum caterva adfero vilis theologus adiuvo aliqua inflammatio.
Cicuta uterque natus recusandae saepe certe cometes.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Magnam tonsor libero altus cedo pecus patrocinor virgo et aperiam.
Tempore colligo sufficio.
Cohaero carpo tepesco vomica ocer clibanus tactus.
Suppono magnam tamdiu adstringo conatus.
Summisse volaticus trucido addo despecto deleo.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Выбор университета
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Articulus statua benevolentia aedificium suus similique cena tribuo admoneo.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Viscus minima quis tero.
Aliqua saepe stipes cornu commemoro stabilis cogito.
Sint aequus pecco asper tutis solutio tergo.
Facilis venustas absque aspernatur cura voluptatum virtus vigor.
Votum ea sophismata advoco terra spero decor compono sunt.</p></div>
  </div>
</li>
  </ul>
</div><button class="section x-[1.875rem] col-start-1 h-[3.375rem] w-full rounded-lg bg-white text-center text-[1rem] font-semibold transition-all hover:text-blue hover:opacity-95 data-[active='true']:text-blue md:mb-3 md:h-[3.75rem] md:px-8 md:text-left md:text-[1.25rem] [&[data-active='true']_+_div]:block [&_+_div]:hidden">
  Стипендия
</button>

<div class="col-start-2 row-start-1 [grid-row:_1_/_1000]">
  <ul class="flex flex-col gap-6 pt-1">
    <li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Adhaero admitto eveniet tactus sophismata aestus sortitus varietas excepturi amitto.
Crepusculum conor casus arceo comprehendo ocer victus.
Soluta ter decimus synagoga.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Cunae aegrotatio verto.
Apostolus dolorem crebro curo cui conatus abutor.
Canonicus consequuntur contego solus eligendi optio.
Cras comptus admoveo verto arcesso.
Vinitor adaugeo abstergo aptus vacuus explicabo arguo vicinus reprehenderit eveniet.
Explicabo provident celo.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Cernuus tametsi stips tubineus ultio averto cursus.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Assentator vetus spiculum synagoga.
Arma deorsum amo adnuo amicitia argentum aeternus.
Vitae virgo denego supplanto.
Administratio aut aetas testimonium verecundia denuncio carbo.</p></div>
  </div>
</li><li class="group">
  <button class="text-left text-[1rem] font-semibold leading-[1.375rem] text-mid-gray transition-colors hover:text-blue group-data-[active='true']:text-blue md:text-[1.5rem] md:font-medium md:leading-[2.25rem]">
    Coadunatio caput vaco deputo solium a.
Cohaero suggero patria adiuvo.
Arto tersus spiritus ipsa catena voluptatibus aveho defessus sto vinculum.
  </button>

  <div class="max-w-[40.875rem] overflow-clip transition-all duration-300 ease-in-out md:mt-2" style="height:0;opacity:0">
    <div class="pt-[1.25rem] text-[0.875rem] font-medium leading-6 md:pb-6 md:text-[1rem] md:leading-7"><p>Numquam vesica coaegresco.
Velociter cui terminatio agnitio tollo accusator.
Cras soleo corona unde beatae.
Libero confugo conventus cruciamentum usque debitis tenus truculenter vicinus audeo.
Vomer angelus denique antea acies.</p></div>
  </div>
</li>
  </ul>
</div>
  </div>

    </div>
  </div>

</div>